GitPython~=3.1
numpy~=1.20.3
tqdm<4.50.0,>=4.27
torch==1.8.1+cu102
torchtext<0.10
transformers~=4.8.2
spacy[cuda102]>=3
scikit-learn~=0.24.2
pandas~=1.2.5
datasets~=1.8.0
coloredlogs~=15.0.1
hyperopt~=0.2.5
yapf
emoji
sentencepiece
cleantext
neuspell
dill

# package location
--find-links https://download.pytorch.org/whl/lts/1.8/torch_lts.html
