GitPython~=3.1
numpy~=1.21.1
tqdm~=4.61.0
torch==1.8.1+cpu
torchtext<0.10.0
transformers>=4.8.1, <5.0.0
scikit-learn~=0.24.2
pandas~=1.3.1
datasets~=1.11.0
coloredlogs~=15.0.1
hyperopt~=0.2.5
vaderSentiment
yapf
emoji
sentencepiece
dill
clean-text
neuspell
unidecode
nltk
distributed

# Viz in notebook
matplotlib
mpld3
mplcursors
wordcloud

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
