GitPython
numpy
tqdm~=4.61.0
torch==1.9.0+cu111
torchtext==0.10.0
transformers>=4.8.1, <5.0.0
scikit-learn
pandas
datasets~=1.11.0
coloredlogs
hyperopt
vaderSentiment
yapf
emoji
sentencepiece
dill
clean-text
neuspell
unidecode
nltk
distributed
sqlalchemy

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
